<mat-card class="card-questao" >
  <div style="font-size:16px;font-weight:bold;" (click)="mostrar  = !mostrar">Questão {{numero}} - {{tipo}}</div>

  <div *ngIf="mostrar">
    <div style="margin:20px;">
      Texto da Questão
    </div>
    <div style="margin:20px;">
      <mat-radio-group *ngIf="multiplaEscolha()">
          <mat-radio-button value="1">Opção 1</mat-radio-button>
          <mat-radio-button value="2">Opção 2</mat-radio-button>
          <mat-radio-button value="3">Opção 3</mat-radio-button>
          <mat-radio-button value="4">Opção 4</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group *ngIf="verdadeiroOuFalso()">
          <mat-radio-button value="1">Verdadeiro</mat-radio-button>
          <mat-radio-button value="2">Falso</mat-radio-button>
      </mat-radio-group>
      <mat-form-field *ngIf="discursiva()" style="width:100%">
          <textarea matInput placeholder="Resposta"></textarea>
      </mat-form-field>
    </div>
  </div>

</mat-card>
