<mat-sidenav-container fullscreen>

    <div>

      <app-cabecalho></app-cabecalho>
      <div class="conteudo">
        <app-menu-lateral></app-menu-lateral>
        <div class="content" role="main">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </mat-sidenav-container>
