<!-- ------------------------ CABEÇALHO ------------------------------>
<h2>
    <span class="cabecalho-container">
        <div>
            Buscar Aluno
        </div>
    </span>
</h2>
<!-- ------------------------ CADASTRO DE REGRA ------------------------------>
<mat-card class="card-cadastro">
  <mat-card-content>
    <div class="itens-filtros">
          <mat-form-field class="item-filtro">
            <input matInput placeholder="Nome do Aluno" [(ngModel)]="nomeAluno">
          </mat-form-field>
          <mat-form-field class="item-filtro">
              <input matInput placeholder="Matrícula" [(ngModel)]="matriculaAluno">
          </mat-form-field>
    </div>
    <div class="container-botoes">
        <button mat-raised-button class="botao" color="primary" (click)="buscarAlunos()">Buscar</button>
        <button mat-raised-button class="botao"(click)="limparCampos()">Limpar</button>
    </div>
  </mat-card-content>
</mat-card>
<!-- ------------------------ TABELA ------------------------------>
<mat-card class="card-tabela">
    <mat-card-content>
      <mat-table [dataSource]="alunos">
        <!-- ------------------------ Matrícula ------------------------------>
        <ng-container matColumnDef="matricula">
            <mat-header-cell *matHeaderCellDef> Matrícula </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.matricula}} </mat-cell>
          </ng-container>
        <!-- ------------------------ Turma ------------------------------>
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
        </ng-container>
        <!-- ------------------------ E-mail ------------------------------>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>
        <!-- ------------------------ Curso ------------------------------>
        <ng-container matColumnDef="curso">
          <mat-header-cell *matHeaderCellDef> Curso </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.curso}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="colunasTabela"></mat-header-row>
      <mat-row *matRowDef="let row; columns: colunasTabela;"></mat-row>
      </mat-table>
  </mat-card-content>
</mat-card>
