@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@mixin index-sombreamento(){
  -webkit-box-shadow: 0 2px 6px 2px rgba(0,0,0,.3);
  box-shadow: 0 2px 6px 2px rgba(0,0,0,.3);
}

$designacao-fonte-padrao      : 'Open Sans', Arial, Verdana, sans-serif;
$designacao-cor-azul-padrao   : #0078AA;

mat-checkbox.mat-default-theme.mat-checked .mat-icon, mat-checkbox.mat-checked .mat-icon {
  background-color: $designacao-cor-azul-padrao;
}

html {
  font-family: $designacao-fonte-padrao;
}

/* --------------------------- CABEÇALHO ------------------------- */
h2 {
  font-family: $designacao-fonte-padrao;
  font-size: 18px;
  margin: 0px;
  padding: 15px 15px 0px 15px;
}

.cabecalho-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.criar-regra-aberto {
  color: $designacao-cor-azul-padrao;
}

/* --------------------------- CADASTRO ------------------------- */
.card-cadastro {
  font-family: $designacao-fonte-padrao;
  margin: 20px 10px 10px 10px;
  padding: 10px 24px 20px 24px;
}

.card-tabela {
  font-family: $designacao-fonte-padrao;
  margin: 20px 10px 10px 10px;
  padding: 10px 24px 20px 24px;
}

.container-campos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


:host /deep/ .mat-select-placeholder{
  font-size: 14px;
}

:host /deep/ .mat-checkbox-inner-container {
  margin-right: 4px !important;
}
