<h2>
    <span class="cabecalho-container">
        <div>
            Disciplinas do Professor
        </div>
    </span>
</h2>
<mat-card class="card-salas" role="region" aria-label="Salas do Aluno">
    <mat-card class="card-sala" [routerLink]="'../sala'" *ngFor="let turma of turmas">
      <div>{{turma.nome}}</div>
      <br />
      <div>{{turma.horario}}</div>
    </mat-card>
  </mat-card>
