<div>
  Digite sua resposta:
  <mat-form-field style="width:80%;margin:30px;">
    <textarea matInput placeholder="Resposta" [(ngModel)]="resposta"></textarea>
  </mat-form-field>
  <div style="margin:20px;float:right;">
    <button mat-raised-button (click)="enviarResposta()">Salvar</button>
  </div>
</div>
