.card-salas {
  margin: 10px;
  padding-top: 20px;
  width: 90%;
  height: 100%;
}

.card-sala {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titulo {
  padding-top: 10px;
  font-size: 20px;
}

h2 {
  font-size: 18px;
  margin: 0px;
  padding: 15px 15px 0px 15px;
}

.cabecalho-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
