//@import 'src/app/app-theme.scss';//incluir arquivo com a palheta


$cabecalho_titulo_altura_max     : 55px;
$cabecalho_titulo_altura_min     : 55px;
$cabecalho_titulo_margem_esquerda: 10px;

$cabecalho_logo_altura : 35px;
$cabecalho_logo_largura: 44px;
$cabecalho_logo_margem_esquerda: 5px;

$cabecalho_fonte_tamanho        : 18px;
$cabecalho_fonte_tamanho_pequeno: 10px;
$cabecalho_fonte_cor            : white;
$cabecalho_fonte_alinhamento    : left;

$cabecalho_linha_altura: 14px;

$cabecalho_logo_margem_sem_menu: 8px;

$cabecalho_fonte: 'Open Sans', Arial, Verdana, sans-serif;

h1{
  margin-left: $cabecalho_titulo_margem_esquerda;
}

.cabecalho-esquerda{
  display:flex;
  justify-content:flex-start;
  align-items:center;
}

.cabecalho {
  font-size  : $cabecalho_fonte_tamanho;
  line-height: $cabecalho_linha_altura;
  text-align : $cabecalho_fonte_alinhamento;
  color      : $cabecalho_fonte_cor;
  font-weight: inherit;
  font-family: $cabecalho_fonte;
}

.processo {
  margin-left: 10px;
  font-family: $cabecalho_fonte;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: center;
  overflow: auto;
  width: 100%;
}

.div-usuario{
 text-align: right;
 display: flex;
}

.mat-toolbar-layout {
  min-height: $cabecalho_titulo_altura_min;
  max-height: $cabecalho_titulo_altura_max;
}

.mat-toolbar {
  padding: 0px;
  display: flex;
  width: 100%;
}

.sem-over-flow{
    overflow-x: hidden;
}

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}


.botao-menu {
  height: 40px;
  width: 40px;
}

.icone-botao-menu {
  font-size: 21px;
  color: white;
}
