<mat-card class="card-questao">
  <div style="width:100%;font-size:16px;font-weight:bold;display:flex;justify-content:space-between;" (click)="mostrar  = !mostrar"
    [ngStyle]="{'color': verificarRespostaParaFonte()}">
    <span>Questão {{numero}} - {{questao.tipoQuestao}}</span>
    <div>
        <i matTooltip="Resposta certa" class="fa fa-check" aria-hidden="true" *ngIf="questao.certa != null && questao.certa"></i>
        <i matTooltip="Resposta errada" class="fa fa-times" aria-hidden="true" *ngIf="questao.certa != null && !questao.certa"></i>
    </div>
  </div>

  <div *ngIf="mostrar" style="width:100%;">
    <div style="margin:20px;">
      {{questao?.enunciado}}
    </div>
    <div style="margin:20px;">
      <mat-radio-group *ngIf="multiplaEscolha()" [(ngModel)]="questao.resposta">
        <mat-radio-button *ngFor="let opcao of questao.opcoes; let i = index" [value]="i">
          {{opcao}}
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group *ngIf="verdadeiroOuFalso()" [(ngModel)]="questao.resposta">
        <mat-radio-button value="1">Verdadeiro</mat-radio-button>
        <mat-radio-button value="2">Falso</mat-radio-button>
      </mat-radio-group>
      <mat-form-field *ngIf="discursiva()" style="width:100%">
        <textarea matInput placeholder="Resposta"></textarea>
      </mat-form-field>
    </div>
    <div style="margin:20px;">
      <button mat-raised-button *ngIf="!questao.respondida" (click)="enviarResposta()">Responder</button>
    </div>
  </div>

</mat-card>
