
<mat-toolbar  color="primary">


    <section class="cabecalho processo" role="presentation">
      <span>Painel do Aluno</span>
    </section>



    <span class="fill-space" > </span>

    <section class="div-usuario" role="presentation" style="display:hidden;">
        <button mat-icon-button matTooltip="Perfil" >
         <i class="fa fa-ellipsis-v fa-lg" ></i>
     </button>
    </section>
  </mat-toolbar>
