.card-salas {
  margin: 10px;
  padding-top: 20px;
  width: 90%;
  height: 100%;
}

.card-sala {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-questao {
  text-align: left;
  margin: 20px;
}

.titulo {
  padding-top: 10px;
  font-size: 20px;
}

h2 {
  font-size: 18px;
  margin: 0px;
  padding: 15px 15px 0px 15px;
}

.cabecalho-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* --------------------------- CADASTRO ------------------------- */
.card-cadastro {
  margin: 20px 10px 10px 10px;
  padding: 10px 24px 20px 24px;
}

.container-campos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-checkboxes {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-checkbox {
  margin-right: 5px;
}

.checkbox {
  margin-left: 10px;
}

.botao {
  margin: 0px 10px 0px 10px;
}

/* --------------------------- TABELA ------------------------- */
.card-tabela {
  margin: 10px 10px 10px 10px;
  padding: 0px;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.icone {
  font-size: 18px;
  margin-left: 10px;
}

/* ------------------- ALTERAÇÕES NO PADRÃO DO MATERIAL ---------------------- */


:host /deep/ .mat-select-placeholder{
  font-size: 14px;
}

:host /deep/ .mat-checkbox-inner-container {
  margin-right: 4px !important;
}
