<h2>
  <span class="cabecalho-container">
    <div>
      {{turma}}
    </div>
  </span>
</h2>
<mat-card class="card-salas" role="region" aria-label="Salas do Aluno">
  <mat-tab-group (selectedTabChange)="mudarTab($event)">
    <mat-tab label="Apresentação">
      <div class="card-sala">
        {{introducao}}
      </div>
    </mat-tab>
    <mat-tab label="Questões" (click)="buscarPerguntas()">
      <div class="card-sala">
        <div>
          <button mat-raised-button (click)="limparFiltro()">Todas</button>
          <button mat-raised-button (click)="filtrarLidas()">Lidas</button>
          <button mat-raised-button (click)="filtrarRespondidas()">Resolvidas</button>
          <button mat-raised-button (click)="filtrarCertas()">Certas</button>
          <button mat-raised-button (click)="filtrarErradas()">Erradas</button>
        </div>
        <app-questao *ngFor="let questao of perguntasExibidas; let i = index" [numero]="i" [questao]="questao">
        </app-questao>
      </div>
    </mat-tab>
    <mat-tab label="Dashboard">
      <div class="card-sala">
        Dashboard com gráficos de desempenho do aluno.
      </div>
    </mat-tab>
    <mat-tab label="Enviar Pergunta">
      <div class="card-sala">
        Digite aqui a pergunta a ser enviada:
      </div>
      <mat-form-field style="width:80%;margin:30px;">
        <textarea matInput placeholder="Pergunta"></textarea>
      </mat-form-field>
      <div style="margin:20px;">
        <button mat-raised-button (click)="enviarPergunta()">Enviar</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
