<div class="menu-lateral" role="navigation">
  <button mat-button class="botoes-menu" role="link" matTooltip="Matérias Atuais" matTooltipPosition="right"
    [routerLink]="'salas'">

    <i class="fa fa-graduation-cap icones-menu" aria-hidden="true"></i>
  </button>

  <button mat-button class="botoes-menu" role="link" matTooltip="Buscar Alunos" matTooltipPosition="right"
    [routerLink]="'buscar'">

      <i class="fa fa-search icones-menu" aria-hidden="true"></i>
  </button>

  <button mat-button class="botoes-menu" role="link" matTooltip="Inbox" matTooltipPosition="right" [routerLink]="'inbox'">
      <i class="fa fa-envelope icones-menu" aria-hidden="true"></i>
  </button>

  <button mat-button class="botoes-menu" role="link" matTooltip="Configurações" matTooltipPosition="right">
      <i class="fa fa-cog icones-menu" aria-hidden="true"></i>
  </button>

  <button mat-button class="botoes-menu" role="link" matTooltip="Sair" matTooltipPosition="right"
    [routerLink]="'../'">

      <i class="fa fa-times icones-menu" aria-hidden="true"></i>
  </button>
</div>
