h2 {
  font-size: 18px;
  margin: 0px;
  padding: 15px 15px 0px 15px;
}

.cabecalho-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-inbox {
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
  width: 90%;
  height: 100%;
}

.card-questao {
  text-align: left;
  margin: 20px;
}
