@import 'src/app-theme.scss';

$cor-accent : mat-color($pje-app-accent);
$cor-primary : mat-color($pje-app-primary);

.menu-lateral {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 0px 0px;
}

.botoes-menu {
    margin: 0px 0px 30px 10px;
}

.icones-menu {
    font-size: 46px;
    color: black;
}

.icones-menu-ativo {
    color: $cor-primary;
}

.mat-button {
    min-width: 70px;
    min-height: 44px;
}
