<div class="page" align="center" >
    <mat-card class="container">
        <mat-card-content class="login-header">
          <h2>Protótipo TCC</h2>
        </mat-card-content>
        <mat-card-content class="main-nav">
          <button class="botao" mat-raised-button color="primary" [routerLink]="'/aluno'">
            Painel do Aluno
          </button>
          <br />
          <br />
          <button class="botao" mat-raised-button color="primary" [routerLink]="'/professor'">
            Painel do Professor
          </button>
        </mat-card-content>
    </mat-card>
    <router-outlet></router-outlet>
</div>
