.page{
  background-color: #348567;
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  background-color: white;
  margin-top: 100px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.login-header {
  margin-top: 150px;
  padding-bottom: 10px;
}

.centralizar-texto{
  text-align: center;
}

.botao {
  width: 80%;
}

h4{
  color: #706D6E;
}
