<h2>
    <span class="cabecalho-container">
        <div>
            Inbox
        </div>
    </span>
</h2>
<mat-card class="card-inbox" role="region" aria-label="Salas do Aluno">
  <div>
      <mat-card class="card-questao" >
          <div (click)="mostrar1 = !mostrar1" style="font-size:16px;font-weight:bold;">Mensagem 1 - "Nome do Remetente"</div>
          <div *ngIf="mostrar1" style="margin:30px;">
            Conteúdo mensagem 1
            <div style="margin-top:10px;float:right;">
                <button mat-raised-button class="botao" color="primary" (click)="responder()">Responder</button>
            </div>
          </div>
      </mat-card>

      <mat-card class="card-questao" >
        <div (click)="mostrar2 = !mostrar2" style="font-size:16px;font-weight:bold;">Mensagem 2 - "Nome do Remetente"</div>
        <div *ngIf="mostrar2" style="margin:30px;">
            Conteúdo mensagem 2
            <div style="margin-top:10px;float:right;">
                <button mat-raised-button class="botao" color="primary" (click)="responder()">Responder</button>
            </div>
        </div>
      </mat-card>

      <mat-card class="card-questao" >
          <div (click)="mostrar3 = !mostrar3" style="font-size:16px;font-weight:bold;">Mensagem 3 - "Nome do Remetente"</div>
          <div *ngIf="mostrar3" style="margin:30px;">
              Conteúdo mensagem 3
              <div style="margin-top:10px;float:right;">
                  <button mat-raised-button class="botao" color="primary" (click)="responder()">Responder</button>
              </div>
          </div>
      </mat-card>
  </div>
</mat-card>
