<h2>
    <span class="cabecalho-container">
        <div>
            {{turma}}
        </div>
    </span>
</h2>
<mat-card class="card-salas" role="region" aria-label="Salas do Aluno">
    <mat-tab-group>
        <mat-tab label="Apresentação">
            <div class="card-sala">
              Digite aqui o texto de apresentação da matéria:
            </div>
            <mat-form-field style="width:80%;margin:30px;">
                <textarea matInput placeholder="Introdução" [(ngModel)]="introducao"></textarea>
            </mat-form-field>
            <div style="margin:20px;">
                <button mat-raised-button (click)="salvarDescricao()">Salvar</button>
            </div>
        </mat-tab>
        <mat-tab label="Questões">
          <div class="card-sala">
            <app-questao numero="1" tipo="Múltipla Escolha"></app-questao>
            <app-questao numero="2" tipo="Verdadeiro ou Falso"></app-questao>
            <app-questao numero="3" tipo="Discursiva"></app-questao>
          </div>
        </mat-tab>
        <mat-tab label="Criar Nova Questão">
            <div class="card-sala">
                <mat-radio-group [(ngModel)]="opcaoQuestao">
                    <mat-radio-button value="1">Múltipla Escolha</mat-radio-button>
                    <mat-radio-button value="2">Verdadeiro ou Falso</mat-radio-button>
                    <mat-radio-button value="3">Discursiva</mat-radio-button>
                  </mat-radio-group>
            </div>
            <div *ngIf="opcaoQuestao == 1">
                <div class="card-sala">
                    Digite a pergunta:
                  </div>
                  <mat-form-field style="width:80%;margin:30px;">
                      <textarea matInput placeholder="Pergunta"></textarea>
                  </mat-form-field>
                  <mat-form-field style="width:80%;margin:30px;">
                      <textarea matInput placeholder="Alternativa A"></textarea>
                  </mat-form-field>
                  <mat-form-field style="width:80%;margin:30px;">
                      <textarea matInput placeholder="Alternativa B"></textarea>
                  </mat-form-field>
                  <mat-form-field style="width:80%;margin:30px;">
                      <textarea matInput placeholder="Alternativa C"></textarea>
                  </mat-form-field>
                  <mat-form-field style="width:80%;margin:30px;">
                      <textarea matInput placeholder="Alternativa D"></textarea>
                  </mat-form-field>
                  <div style="margin:20px;">
                      <button mat-raised-button (click)="enviarPergunta()">Enviar</button>
                  </div>
            </div>
            <div *ngIf="opcaoQuestao == 2">
                <div class="card-sala">
                  Digite a pergunta:
                </div>
                <mat-form-field style="width:80%;margin:30px;">
                    <textarea matInput placeholder="Pergunta"></textarea>
                </mat-form-field>
                <div style="margin:20px;">
                    <button mat-raised-button (click)="enviarPergunta()">Enviar</button>
                </div>
            </div>
            <div *ngIf="opcaoQuestao == 3">
              <div class="card-sala">
                Digite a pergunta:
              </div>
              <mat-form-field style="width:80%;margin:30px;">
                  <textarea matInput placeholder="Pergunta"></textarea>
              </mat-form-field>
              <div style="margin:20px;">
                  <button mat-raised-button (click)="enviarPergunta()">Enviar</button>
              </div>
            </div>
          </mat-tab>
        <mat-tab label="Dashboard">
          <div class="card-sala">
            Dashboard com gráficos de desempenho dos alunos.
          </div>
        </mat-tab>
      </mat-tab-group>
</mat-card>
