<!-- ------------------------ CABEÇALHO ------------------------------>
<h2>
    <span class="cabecalho-container">
        <div>
            Buscar Turmas
        </div>
    </span>
</h2>
<!-- ------------------------ BUSCA ------------------------------>
<mat-card class="card-cadastro">
  <mat-card-content>
    <div class="itens-filtros">
          <mat-form-field class="item-filtro">
            <input matInput placeholder="Nome da Turma" [(ngModel)]="nomeTurma">
          </mat-form-field>
          <mat-form-field class="item-filtro">
              <input matInput placeholder="Disciplina" [(ngModel)]="disciplina">
          </mat-form-field>
          <mat-form-field class="item-filtro">
              <input matInput placeholder="Horário" [(ngModel)]="horario">
          </mat-form-field>
    </div>
    <div class="container-botoes">
        <button mat-raised-button class="botao" color="primary" (click)="buscarTurmas()">Buscar</button>
        <button mat-raised-button class="botao"(click)="limparCampos()">Limpar</button>
    </div>
  </mat-card-content>
</mat-card>
<!-- ------------------------ TABELA ------------------------------>
<mat-card class="card-tabela">
    <mat-card-content>
      <mat-table [dataSource]="turmas">
        <!-- ------------------------ Turma ------------------------------>
        <ng-container matColumnDef="turma">
          <mat-header-cell *matHeaderCellDef> Turma </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
        </ng-container>
        <!-- ------------------------ Disciplina ------------------------------>
        <ng-container matColumnDef="disciplina">
          <mat-header-cell *matHeaderCellDef> Disciplina </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.disciplina}} </mat-cell>
        </ng-container>
        <!-- ------------------------ Horário ------------------------------>
        <ng-container matColumnDef="horario">
          <mat-header-cell *matHeaderCellDef> Horário </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.horario}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="colunasTabela"></mat-header-row>
      <mat-row *matRowDef="let row; columns: colunasTabela;"></mat-row>
      </mat-table>
  </mat-card-content>
</mat-card>
