@import '~@angular/material/theming';

@include mat-core();

//palheta de cores padrão
$md-pje-pallete: (
    50 : #b4ffe9,
    100 : #68ffd2,
    200 : #30ffc2,
    300 : #00e7a3,
    400 : #00c98e,
    500 : #00aa78,
    600 : #008b62,
    700 : #006d4d,
    800 : #004e37,
    900 : #003022,
    A100 : #aaffe6,
    A200 : #44ffc8,
    A400 : #00dd9c,
    A700 : #00c38a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

body{
  margin: 0px;
}


//definindo composição de cores para o tema: formato (palheta, cor padrão, cor clara, cor escura)
$pje-app-primary: mat-palette($md-pje-pallete, 500, 300, 700);
$pje-app-accent:  mat-palette($md-pje-pallete, A400, A200, A700);
$pje-app-warn:    mat-palette($mat-red); // palheta opcional para as mensagens de erro

// criando objeto com o tema
$pje-app-theme: mat-light-theme($pje-app-primary, $pje-app-accent, $pje-app-warn);

//aplicando o tema
@include angular-material-theme($pje-app-theme);

snack-bar-container.success {
    background-color: #71b270;
}
snack-bar-container.error {
    background-color: #c75b55;
}
snack-bar-container.warning {
    background-color: #f6a634;
}
snack-bar-container.info {
    background-color: #497683;
}

// Esta definição força o menu de seleção do OJ a não cortar o texto apresentado.
.mat-menu-panel.menu-selecao-perfil-usuario {
    max-width: 100vw;
}

// Estas definições de classes devem ser utilizadas em todos os filtros de tabelas, como nos painéis e no escaninho
.itens-filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
    width: 100%;

    .item-filtro {
        margin: 0px 5px;
        flex-grow: 1;
    }

    .item-filtro-pequeno {
        margin: 0px 5px;
        flex-grow: 0;
        width: 120px;
    }

    .item-filtro-medio {
        margin: 0px 5px;
        flex-grow: 0.5;
        width: 140px;
    }

    .item-filtro-grande {
        margin: 0px 5px;
        flex-grow: 0.5;
        width: 160px;
    }

}

// Estas de classes devem ser utilizadas no chips do filtros de tabelas
.chips-icone-fechar {
    color:#FFFFFF;
    font-size: 15px;
    cursor: pointer;
    padding: 0px 5px;
    margin-left: 5px;

    border-radius: 16px;
    background-color: rgb(1, 99, 138);
}

.chips-icone-fechar:hover {
    background-color: rgb(1, 62, 87);
}

.mat-dialog-container {
    max-width: 100vw !important;
}
