/* You can add global styles to this file, and also import other style files */
.mat-tooltip{
  background-color: black !important;
  font-size: 14px !important;
}

.mat-select{
  font-family: 'Open Sans', Arial, Verdana, sans-serif !important;
}

.mat-card{
  font-family: 'Open Sans', Arial, Verdana, sans-serif !important;
}

html {
  font-family: 'Open Sans', Arial, Verdana, sans-serif !important;
}
